@model IEnumerable<SFSAcademy.Models.PurchaseCart>
@using SFSAcademy.Models

@{
    ViewBag.Title = "ViewCart";
}
<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Show Store Logo">
    <h1>Store</h1>
    <h3>View Cart</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

<div id="modal-box">
    @Html.Partial("_ListPurchagedProducts")
</div>